/*General CSS Styles*/
@font-face {
  font-family: "Chakra Petch";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-Light.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-Medium.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-SemiBold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-LightItalic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-Italic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-MediumItalic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-SemiBoldItalic.ttf)
    format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Chakra Petch";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(./assets/googlefonts/ChakraPetch-BoldItalic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
html {
  height: 100%;
  font-family: "Chakra Petch", sans-serif;
}

.section-100 {
  min-height: calc(100vh - 60px);
}

header.navbar {
  background-color: #071160;
  height: 60px;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

a.active {
  background-color: #d6a73d !important;
  color: black !important;
  font-weight: bolder !important;
}

.card-header {
  background-color: #071160;
  border-color: #071160;
  color: #ffffff;
}

.custcard{
	background-color: #F5F5F5;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.rounded {
  object-fit: cover;
  clip-path: circle();
}

.sub-title{
	color: #071160;
}

.text-bg-yellow{
	color: whitesmoke;
	background-color: #D6A73D;
}

.text-bg-navyblue{
	color: whitesmoke;
	background-color: #071160;
}

.text-bg-black{
	color: whitesmoke;
	background-color: #292929;
}

.btn-add{
	color: black;
	background-color: #6171FF;
	border-color: #6171FF;
}

.btn-add:hover{
	background-color: #8591FF;
}

.btn-view{
	color: black;
	background-color: #FFE761;
	border-color: #FFE761;
}

.btn-view:hover{
	background-color: #FFED85;
}

.btn-delete{
	color: black;
	background-color: #C30000;
	border-color: #C30000;
}

.btn-delete:hover{
	background-color: #E00000;
}

.btn-update{
	color: black;
	background-color: #9CF6F6;
	border-color: #9CF6F6;
}

.btn-update:hover{
	background-color: #B4F8F8;
}

.btn-search{
	color: black;
	background-color: #0B7A75;
	border-color: #0B7A75;
}

.btn-search:hover{
	background-color: #0E958F;
}
/*----------------------------------------------------------*/

/*Specific CSS Styles*/

/*index.php*/
div#loginForm {
  width: 22rem;
  border: none !important;
}

.cust-btn-login {
  background-color: #d6a73d;
  border-color: #d6a73d;
  color: #ffffff;
}

main#mainbg {
  background: url("./images/bg2.png");
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}
/*===========*/
/*----------------------------------------------------------*/
